<div id="social">
    <a href="{{@blog.url}}/rss/">
        <i class="fa fa-rss"></i> Subscribe
    </a>
    <a href="{{twitter_url}}" target="_blank">
        <i class="fa fa-twitter"></i> Twitter
    </a>
</div>